
@import "reset.css";
@import "canvas.css";

html,body {
  height: 100%;
  width: 100%;
}

html {
  background-color: #111;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

#debug {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  padding: 5px 20px;

  transition: opacity 0.2s ease;
  pointer-events: auto;
}

#debug.hidden {
  opacity: 0;
  pointer-events: none;
}

#debug-command {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  padding: 5px 10px;
}